
body
{
    background-color: #f9f9f9;
    overflow-x: hidden;
}

p
{
//    color:blue;
    font-size:14px;
}

header
{
    background-color: #fff;
    height:80px;
    
    img
    {
        height:60px;
        margin-top:10px;
        margin-left:30px;
    }
}

.no-li
{
    
    li
    {
        list-style: none;
        display: inline-block;
        width:auto;
        padding:7px 10px;
        color: #555;
        margin-left:10px;
        margin-top:16px;
        
        &:hover
        {
            background-color: #e5e5e5;
            cursor:pointer;
        }
        
    }
}

.round_div
{
    width:70px;
    height:70px;
    background-color: #bbb;
    border-radius: 50%;
    position:relative;
    left:120%;
    transform: translateX(-50%);
}

.irregular
{
    margin:0;
    padding:0;
    
    li
    {
        margin:0;
        display:inline-block;
        list-style: none;
        height:50px;
        width:50px;
        border-radius: 50%;
        margin-right: 10px;
        background-color:#ccc;
        text-align:center;
        line-height: 50px;
        font-size:22px;
        color:#999;
        transition-duration: 0.42s;
        cursor:pointer;
        
        &:hover
        {
            position:relative;
            top:-5px;
        }
        
    }
}

.middle_container
{
    background-color: #f1f1f1;
}

.col-st1
{
    height:200px;
    margin-top:10px;
    
    div
    {
        height:100%;
        width:100%;
        background-color: #eee;
    }
    
}


.middle_container2, .middle_container3
{
    p
    {
        font-size:13px;
        padding:5px;
    }
}

.text-st1
{
    text-align:center;
}

.div-cir1
{
    height:70px;
    width:70px;
    border-radius: 50%;
    background-color:#ccc;
    margin:0 auto;
}

.middle_container3
{
    background-color: #eee;
    
    .text-st1
    {
        width:100%;
        border: 0px solid red;
        padding:10px;
        box-sizing: border-box;
    }
    
    .text-st2
    {
        width:100%;
        padding:10px;
        box-sizing: border-box;
    }
    
    .textarea-st1
    {
        width:100%;
        box-sizing: border-box;
        padding:10px;
        resize: none;
        height:170px;
    }
    
    .but-st1
    {
        padding:10px;
        width: 150px;
        border: 0px solid red;
        color: #aaa;
        
    }
    
}

footer
{
    padding:10px 0px;
    img
    {
        height:60px;
    }
}
